// .dataInput

//     display: flex
//     flex-direction: column
//     align-content: center
//     align-items: center
//     flex-wrap: wrap
//     justify-items: center

.fourm
    background-color: rgba(0, 0, 0, 0.2)
    border-radius: 8px
    padding: 4rem
    margin: 2rem
    width: 70vw
    display: flex
    flex-direction: column
    align-content: center
    align-items: center
    
